<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<!-- Begin Navigation -->
		%%NAVIGATION%%
		<!-- End Navigation -->
		<td width="100%">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="100%" height="21" background="/images/top.gif"></td>
				</tr>
			</table>
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="5"class="left">
						<table width="5" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="5"></td>
							</tr>
						</table>
					</td>
					<td width="100%">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="7" height="18">
									<table width="7" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td width="7"></td>
										</tr>
									</table>
								</td>
								<!-- Begin Position -->
								<td width="100%" class="position">%%BREADCRUMBS%%<img src="/images/pointer.gif" border="0" class="pointer">View Record</td>
								<!-- End Position -->
								<td width="7">
									<table width="7" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td width="7"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="7" height="1"></td>
								<td width="100%" bgcolor="#C2C8CD"></td>
								<td width="7"></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<!-- Begin Content -->
									<h1>View Record</h1>
									<p><b><font color="red">%%ERRORS%%</font></b></p>
									<table class="data_entry" cellspacing="0">
										<tr>
											<td width="200">Record ID:</td>
											<td>%%CONTROLID%%</td>
										</tr>
										<tr>
											<td width="200">Control Text Field:</td>
											<td>%%CONTROLTEXTFIELD%%</td>
										</tr>
										<tr>
											<td>Control radio field:</td>
											<td>%%CONTROLRADIOFIELD%%</td>
										</tr>
										<tr>
											<td>Control checkbox field:</td>
											<td>%%CONTROLCHECKBOXFIELD%%</td>
										</tr>
										<tr>
											<td>Control select field:</td>
											<td>%%CONTROLSELECTFIELD%%</td>
										</tr>
										<tr>
											<td width="200">Control text widget:</td>
											<td>%%CONTROLTEXTWIDGET%%</td>
										</tr>
										<tr>
											<td>Control radio widget:</td>
											<td>%%CONTROLRADIOWIDGET%%</td>
										</tr>
										<tr>
											<td>Control checkbox widget:</td>
											<td>%%CONTROLCHECKBOXWIDGET%%</td>
										</tr>
										<tr>
											<td>Control select widget:</td>
											<td>%%CONTROLSELECTWIDGET%%</td>
										</tr>
										<tr>
											<td>Submit field (url to file):</td>
											<td>%%SUBMITFIELD%%</td>
										</tr>
									</table>
									<!-- End Content -->
								</td>
								<td></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td width="15" class="right">
			<table width="15" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="15"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>