<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<!-- Begin Navigation -->
		%%NAVIGATION%%
		<!-- End Navigation -->
		<td width="100%">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="100%" height="21" background="/images/top.gif"></td>
				</tr>
			</table>
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="5"class="left">
						<table width="5" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="5"></td>
							</tr>
						</table>
					</td>
					<td width="100%">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="7" height="18">
									<table width="7" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td width="7"></td>
										</tr>
									</table>
								</td>
								<!-- Begin Position -->
								<td width="100%" class="position">%%BREADCRUMBS%%<img src="/images/pointer.gif" border="0" class="pointer">Edit Contact</td>
								<!-- End Position -->
								<td width="7">
									<table width="7" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td width="7"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="7" height="1"></td>
								<td width="100%" bgcolor="#C2C8CD"></td>
								<td width="7"></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<!-- Begin Content -->
									<h1>Edit Contact</h1>
									<p><b><font color="red">%%ERRORS%%</font></b></p>
									<form action="?%%ALL_PARAMS%%" method="post">
									<table class="data_entry" cellspacing="0">
										<tr>
											<td width="200">Validator ID:</td>
											<td>%%VALIDATORID%%</td>
										</tr>
										<tr>
											<td width="200">Validator Date: (YYYY-MM-DD)</td>
											<td><input type="text" name="ValidatorDate" value="%%VALIDATORDATE%%" size="35" tabindex="5"></td>
										</tr>
										<tr>
											<td width="200">Validator Email:</td>
											<td><input type="text" name="ValidatorEmail" value="%%VALIDATOREMAIL%%" size="35" tabindex="5"></td>
										</tr>
										<tr>
											<td width="200">Validator Int:</td>
											<td><input type="text" name="ValidatorInt" value="%%VALIDATORINT%%" size="35" tabindex="5"></td>
										</tr>
										<tr>
											<td width="200">Validator Decimal:</td>
											<td><input type="text" name="ValidatorDecimal" value="%%VALIDATORDECIMAL%%" size="35" tabindex="5"></td>
										</tr>
										<tr>
											<td width="200">Validator Icq:</td>
											<td><input type="text" name="ValidatorIcq" value="%%VALIDATORICQ%%" size="35" tabindex="5"></td>
										</tr>
										<tr>
											<td width="200">Validator Http:</td>
											<td><input type="text" name="ValidatorHttp" value="%%VALIDATORHTTP%%" size="35" tabindex="5"></td>
										</tr>
										<tr>
											<td width="200">Validator GSM:</td>
											<td><input type="text" name="ValidatorGsm" value="%%VALIDATORGSM%%" size="35" tabindex="5"></td>
										</tr>
										<tr>
											<td width="200">Validator IP Address:</td>
											<td><input type="text" name="ValidatorIp" value="%%VALIDATORIP%%" size="35" tabindex="5"></td>
										</tr>
										<tr>
											<td width="200">Multiple Validators<br>(custom validator + http validtor):</td>
											<td><input type="text" name="ValidatorMultiple" value="%%VALIDATORMULTIPLE%%" size="35" tabindex="5"></td>
										</tr>
										<tr>
											<td width="200">Validator Unique (among all other record):</td>
											<td><input type="text" name="ValidatorUnique" value="%%VALIDATORUNIQUE%%" size="35" tabindex="5"></td>
										</tr>
										<tr>
											<td colspan="2"><input type="submit" name="new" value="Update" class="button" tabindex="8"></td>
										</tr>
									</table>
									<input type="hidden" name="action" value="dmExecEdit">
									<input type="hidden" name="ValidatorID" value="%%VALIDATORID%%">
									</form>
									<!-- End Content -->
								</td>
								<td></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td width="15" class="right">
			<table width="15" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="15"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>